@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
body {
  background: linear-gradient(to right, #ff47a1 0%, #ff9f4d 100%);
}; */

html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}
